@use "@utrecht/design-tokens/dist/mixin-theme" as mixin;

.gpp-woo-theme {
  @include mixin.utrecht-theme;

  // utrecht overrides for gpp-woo-theme
  --utrecht-space-around: 1.5;

  --utrecht-surface-background-color: var(--utrecht-color-white);

  --utrecht-page-header-padding-block-start: 2px;
  --utrecht-page-header-padding-block-end: 2px;
  --utrecht-page-header-background-color: var(--utrecht-color-white);
  --utrecht-nav-bar-background-color: transparent;

  --utrecht-logo-max-block-size: auto;
  --utrecht-logo-max-inline-size: 24rem;
  --utrecht-logo-min-block-size: 3rem;
  --utrecht-logo-min-inline-size: 18rem;

  --utrecht-unordered-list-marker-color: var(--utrecht-color-blue-35);

  --utrecht-page-footer-background-color: var(--utrecht-color-blue-35);
  --utrecht-page-footer-background-image: none;

  --utrecht-link-list-link-font-weight: 400;

  --utrecht-button-icon-size: var(--utrecht-link-icon-size);

  --utrecht-pagination-margin-block-start: var(--utrecht-space-inline-md);

  // custom gpp-woo css variables
  // card
  --gpp-woo-card-max-inline-size: calc(var(--utrecht-page-max-inline-size) / 2);
  --gpp-woo-card-background-color: var(--utrecht-surface-background-color);
  --gpp-woo-card-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.06);
  --gpp-woo-card-content-padding-block: var(--utrecht-space-block-xl);
  --gpp-woo-card-content-padding-inline: var(--utrecht-space-inline-xl);

  // search
  --gpp-woo-search-page-heading-1-margin-block: var(--utrecht-space-block-xs);
  --gpp-woo-search-page-heading-2-margin-block: var(--utrecht-space-block-xs);
  --gpp-woo-search-fieldset-column-gap: var(--utrecht-space-inline-3xl);
  --gpp-woo-search-bar-column-gap: var(--utrecht-space-inline-xs);
  --gpp-woo-result-list-item-margin-block: 0;
}
